In [29]:
%reload_ext autoreload
%autoreload 2

In [30]:
from sqlalchemy import create_engine
import numpy as np
import pandas as pd
import matplotlib.pylab as plt
import seaborn as sns
plt.style.use('ggplot')
pd.set_option('display.max_columns', 200) ## view all the columns

In [31]:
from dotenv import load_dotenv
import os
import sys
sys.path.insert(0,'../../src/')
from utlis import Utils as ul

sys.path.insert(0,'../../database/')
from db_connection import DBConnect as dbconnect
# Load environment variables from .env file
load_dotenv()

True

In [32]:
# Create a connection to the PostgreSQL database using SQLAlchemy
engine = dbconnect.connect_to_db()

# Print the engine to verify the connection
print(engine)

# Get a raw PostgreSQL connection from the SQLAlchemy engine
connection = engine.raw_connection()

try:
    # Create a cursor object to execute SQL queries
    cursor = connection.cursor()

    # Query to retrieve all rows from the xdr_data
    query = "SELECT * FROM clean_data"

    # Execute the query
    cursor.execute(query)

    # Fetch all the rows
    result = cursor.fetchall()

    # Convert the result to a Pandas DataFrame
    columns = [desc[0] for desc in cursor.description]
    df = pd.DataFrame(result, columns=columns)
    
    # Display the DataFrame

finally:
    # Close the cursor and connection
    cursor.close()
    connection.close()

# Dispose of the SQLAlchemy engine after use
engine.dispose()

Engine(postgresql://azizadx:***@localhost:5435/telecom.sql)

In [33]:
# Create a connection to the PostgreSQL database using SQLAlchemy
engine = dbconnect.connect_to_db()

# Print the engine to verify the connection
print(engine)

# Get a raw PostgreSQL connection from the SQLAlchemy engine
connection = engine.raw_connection()

try:
    # Create a cursor object to execute SQL queries
    cursor = connection.cursor()

    # Query to retrieve all rows from the xdr_data
    query = "SELECT * FROM aggrated_data"

    # Execute the query
    cursor.execute(query)

    # Fetch all the rows
    result = cursor.fetchall()

    # Convert the result to a Pandas DataFrame
    columns = [desc[0] for desc in cursor.description]
    df1 = pd.DataFrame(result, columns=columns)
    
    # Display the DataFrame

finally:
    # Close the cursor and connection
    cursor.close()
    connection.close()

# Dispose of the SQLAlchemy engine after use
engine.dispose()

Engine(postgresql://azizadx:***@localhost:5435/telecom.sql)

In [34]:
df.head()

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,Avg RTT DL (ms),Avg RTT UL (ms),Avg Bearer TP DL (kbps),Avg Bearer TP UL (kbps),TCP DL Retrans. Vol (Bytes),TCP UL Retrans. Vol (Bytes),DL TP < 50 Kbps (%),50 Kbps < DL TP < 250 Kbps (%),250 Kbps < DL TP < 1 Mbps (%),DL TP > 1 Mbps (%),UL TP < 10 Kbps (%),10 Kbps < UL TP < 50 Kbps (%),50 Kbps < UL TP < 300 Kbps (%),UL TP > 300 Kbps (%),HTTP DL (Bytes),HTTP UL (Bytes),Activity Duration DL (ms),Activity Duration UL (ms),Dur. (ms).1,Handset Manufacturer,Handset Type,Nb of sec with 125000B < Vol DL,Nb of sec with 1250B < Vol UL < 6250B,Nb of sec with 31250B < Vol DL < 125000B,Nb of sec with 37500B < Vol UL,Nb of sec with 6250B < Vol DL < 31250B,Nb of sec with 6250B < Vol UL < 37500B,Nb of sec with Vol DL < 6250B,Nb of sec with Vol UL < 1250B,Social Media DL (Bytes),Social Media UL (Bytes),Google DL (Bytes),Google UL (Bytes),Email DL (Bytes),Email UL (Bytes),Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.311448e+19,4/4/2019 12:01,770.0,4/25/2019 14:35,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,9.16456699548519E+015,42.0,5.0,23.0,44.0,19520.0,7230.0,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,230583.0,25427.0,37624.0,38787.0,1.823653e+09,Samsung,Samsung Galaxy A5 Sm-A520F,485.0,3.0,1.0,24.0,2.0,4.0,213.0,214.0,1545765.0,24420.0,1634479.0,1271433.0,3563542.0,137762.0,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,1.311448e+19,4/9/2019 13:04,235.0,4/25/2019 8:15,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,65.0,5.0,16.0,26.0,19520.0,7230.0,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,230583.0,25427.0,168.0,3560.0,1.365104e+09,Samsung,Samsung Galaxy J5 (Sm-J530),485.0,3.0,1.0,24.0,2.0,4.0,971.0,1022.0,1926113.0,7165.0,3493924.0,920172.0,629046.0,308339.0,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0
2,1.311448e+19,4/9/2019 17:42,1.0,4/25/2019 11:58,652.0,1361762.0,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,65.0,5.0,6.0,9.0,19520.0,7230.0,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,230583.0,25427.0,0.0,0.0,1.361763e+09,Samsung,Samsung Galaxy A8 (2018),485.0,3.0,1.0,24.0,2.0,4.0,751.0,695.0,1684053.0,42224.0,8535055.0,1694064.0,2690151.0,672973.0,19725661.0,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0
3,1.311448e+19,4/10/2019 0:31,486.0,4/25/2019 7:36,171.0,1321509.0,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,65.0,5.0,44.0,44.0,19520.0,7230.0,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,230583.0,25427.0,3330.0,37882.0,1.321510e+09,undefined,undefined,485.0,3.0,1.0,24.0,2.0,4.0,17.0,207.0,644121.0,13372.0,9023734.0,2788027.0,1439754.0,631229.0,21388122.0,15146643.0,13994646.0,1097942.0,799538153.0,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0
4,1.311448e+19,4/12/2019 20:10,565.0,4/25/2019 10:40,954.0,1089009.0,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,65.0,5.0,6.0,9.0,19520.0,7230.0,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,230583.0,25427.0,0.0,0.0,1.089009e+09,Samsung,Samsung Sm-G390F,485.0,3.0,1.0,24.0,2.0,4.0,607.0,604.0,862600.0,50188.0,6248284.0,1500559.0,1936496.0,173853.0,15259380.0,18962873.0,17124581.0,415218.0,527707248.0,3529801.0,550709500.0,13910322.0,38542814.0,569138589.0

In [35]:
df1.head()

,MSISDN/Number,num of xDR sessions,Total_Session_Duration_ms,Social Media DL (Bytes),Social Media UL (Bytes),Google DL (Bytes),Google UL (Bytes),Email DL (Bytes),Email UL (Bytes),Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total DL (Bytes),Total UL (Bytes)
0,3.360100e+10,1,116720.0,2206504.0,25631.0,3337123.0,1051882.0,837400.0,493962.0,14900201.0,6724347.0,10265105.0,16915876.0,8.110911e+08,1367528.0,377096990.0,9473882.0,8.426375e+08,36053108.0
1,3.360100e+10,1,181230.0,2598548.0,62017.0,4197697.0,1137166.0,2828821.0,478960.0,5324251.0,7107972.0,770569.0,10451194.0,1.050353e+08,14714780.0,279557701.0,2152370.0,1.207552e+08,36104459.0
2,3.360100e+10,1,134969.0,3148004.0,47619.0,3343483.0,99643.0,2436500.0,768880.0,2137272.0,19196298.0,16525919.0,2827981.0,5.290685e+08,9759228.0,495086501.0,6607171.0,5.566597e+08,39306820.0
3,3.360101e+10,1,49878.0,251469.0,28825.0,5937765.0,3740728.0,2178618.0,106052.0,4393123.0,2584198.0,1157362.0,784730.0,3.880748e+08,3051292.0,25248001.0,10031701.0,4.019932e+08,20327526.0
4,3.360101e+10,2,37104.0,2861230.0,51312.0,13728668.0,4770948.0,2247808.0,1057661.0,10339971.0,31193031.0,24971647.0,24230077.0,1.308981e+09,5816727.0,777643713.0,27160771.0,1.363130e+09,94280527.0

##### Task 4. 1 - Aggregate, per customer, the following information (treat missing & outliers by replacing by the mean or the mode of the corresponding variable):
- [X] Average TCP retransmission
- [X] Average RTT
- [X] Handset type
- [X] Average throughput

In [54]:
new_df = pd.DataFrame(columns=['MSISDN/Number','Total_Session_Duration_ms','Average_TCP', 'Average_RTT', 'Handset Type', 'Average_throughput','TCP DL Retrans. Vol (Bytes)','TCP UL Retrans. Vol (Bytes)','Avg RTT DL (ms)','Avg RTT UL (ms)','Avg Bearer TP DL (kbps)','Avg Bearer TP DL (kbps)'])

In [55]:
new_df['MSISDN/Number'] = df['MSISDN/Number']

In [56]:
new_df.head()

,MSISDN/Number,Total_Session_Duration_ms,Average_TCP,Average_RTT,Handset Type,Average_throughput,TCP DL Retrans. Vol (Bytes),TCP UL Retrans. Vol (Bytes),Avg RTT DL (ms),Avg RTT UL (ms),Avg Bearer TP DL (kbps),Avg Bearer TP DL (kbps)
0,3.366496e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3.368185e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.376063e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.375034e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3.369980e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
new_df['Total_Session_Duration_ms'] = df1['Total_Session_Duration_ms']

In [58]:
new_df.head()

,MSISDN/Number,Total_Session_Duration_ms,Average_TCP,Average_RTT,Handset Type,Average_throughput,TCP DL Retrans. Vol (Bytes),TCP UL Retrans. Vol (Bytes),Avg RTT DL (ms),Avg RTT UL (ms),Avg Bearer TP DL (kbps),Avg Bearer TP DL (kbps)
0,3.366496e+10,116720.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3.368185e+10,181230.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.376063e+10,134969.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.375034e+10,49878.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3.369980e+10,37104.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
new_df['TCP DL Retrans. Vol (Bytes)'] = df['TCP DL Retrans. Vol (Bytes)']
new_df['TCP UL Retrans. Vol (Bytes)'] = df['TCP UL Retrans. Vol (Bytes)']
new_df['Avg RTT DL (ms)'] = df['Avg RTT DL (ms)']
new_df['Avg RTT UL (ms)'] = df['Avg RTT UL (ms)']
new_df['Avg Bearer TP DL (kbps)'] = df['Avg Bearer TP DL (kbps)']
new_df['Avg Bearer TP UL (kbps)'] = df['Avg Bearer TP UL (kbps)']

In [62]:
new_df.head()

,MSISDN/Number,Total_Session_Duration_ms,Average_TCP,Average_RTT,Handset Type,Average_throughput,TCP DL Retrans. Vol (Bytes),TCP UL Retrans. Vol (Bytes),Avg RTT DL (ms),Avg RTT UL (ms),Avg Bearer TP DL (kbps),Avg Bearer TP DL (kbps),Avg Bearer TP UL (kbps)
0,3.366496e+10,116720.0,26750.0,NaN,NaN,NaN,19520.0,7230.0,42.0,5.0,23.0,23.0,44.0
1,3.368185e+10,181230.0,26750.0,NaN,NaN,NaN,19520.0,7230.0,65.0,5.0,16.0,16.0,26.0
2,3.376063e+10,134969.0,26750.0,NaN,NaN,NaN,19520.0,7230.0,65.0,5.0,6.0,6.0,9.0
3,3.375034e+10,49878.0,26750.0,NaN,NaN,NaN,19520.0,7230.0,65.0,5.0,44.0,44.0,44.0
4,3.369980e+10,37104.0,26750.0,NaN,NaN,NaN,19520.0,7230.0,65.0,5.0,6.0,6.0,9.0

In [63]:
### aggregate TCP
new_df['Average_TCP'] = df['TCP DL Retrans. Vol (Bytes)'] + df['TCP UL Retrans. Vol (Bytes)']

In [64]:
new_df.head()

,MSISDN/Number,Total_Session_Duration_ms,Average_TCP,Average_RTT,Handset Type,Average_throughput,TCP DL Retrans. Vol (Bytes),TCP UL Retrans. Vol (Bytes),Avg RTT DL (ms),Avg RTT UL (ms),Avg Bearer TP DL (kbps),Avg Bearer TP DL (kbps),Avg Bearer TP UL (kbps)
0,3.366496e+10,116720.0,26750.0,NaN,NaN,NaN,19520.0,7230.0,42.0,5.0,23.0,23.0,44.0
1,3.368185e+10,181230.0,26750.0,NaN,NaN,NaN,19520.0,7230.0,65.0,5.0,16.0,16.0,26.0
2,3.376063e+10,134969.0,26750.0,NaN,NaN,NaN,19520.0,7230.0,65.0,5.0,6.0,6.0,9.0
3,3.375034e+10,49878.0,26750.0,NaN,NaN,NaN,19520.0,7230.0,65.0,5.0,44.0,44.0,44.0
4,3.369980e+10,37104.0,26750.0,NaN,NaN,NaN,19520.0,7230.0,65.0,5.0,6.0,6.0,9.0

In [65]:
### aggregate RTT
new_df['Average_RTT'] = df['Avg RTT DL (ms)'] + df['Avg RTT DL (ms)']

In [66]:
new_df.head()

,MSISDN/Number,Total_Session_Duration_ms,Average_TCP,Average_RTT,Handset Type,Average_throughput,TCP DL Retrans. Vol (Bytes),TCP UL Retrans. Vol (Bytes),Avg RTT DL (ms),Avg RTT UL (ms),Avg Bearer TP DL (kbps),Avg Bearer TP DL (kbps),Avg Bearer TP UL (kbps)
0,3.366496e+10,116720.0,26750.0,84.0,NaN,NaN,19520.0,7230.0,42.0,5.0,23.0,23.0,44.0
1,3.368185e+10,181230.0,26750.0,130.0,NaN,NaN,19520.0,7230.0,65.0,5.0,16.0,16.0,26.0
2,3.376063e+10,134969.0,26750.0,130.0,NaN,NaN,19520.0,7230.0,65.0,5.0,6.0,6.0,9.0
3,3.375034e+10,49878.0,26750.0,130.0,NaN,NaN,19520.0,7230.0,65.0,5.0,44.0,44.0,44.0
4,3.369980e+10,37104.0,26750.0,130.0,NaN,NaN,19520.0,7230.0,65.0,5.0,6.0,6.0,9.0

In [67]:
## handset type
new_df['Handset Type'] = df['Handset Type']

In [68]:
new_df.head()

,MSISDN/Number,Total_Session_Duration_ms,Average_TCP,Average_RTT,Handset Type,Average_throughput,TCP DL Retrans. Vol (Bytes),TCP UL Retrans. Vol (Bytes),Avg RTT DL (ms),Avg RTT UL (ms),Avg Bearer TP DL (kbps),Avg Bearer TP DL (kbps),Avg Bearer TP UL (kbps)
0,3.366496e+10,116720.0,26750.0,84.0,Samsung Galaxy A5 Sm-A520F,NaN,19520.0,7230.0,42.0,5.0,23.0,23.0,44.0
1,3.368185e+10,181230.0,26750.0,130.0,Samsung Galaxy J5 (Sm-J530),NaN,19520.0,7230.0,65.0,5.0,16.0,16.0,26.0
2,3.376063e+10,134969.0,26750.0,130.0,Samsung Galaxy A8 (2018),NaN,19520.0,7230.0,65.0,5.0,6.0,6.0,9.0
3,3.375034e+10,49878.0,26750.0,130.0,undefined,NaN,19520.0,7230.0,65.0,5.0,44.0,44.0,44.0
4,3.369980e+10,37104.0,26750.0,130.0,Samsung Sm-G390F,NaN,19520.0,7230.0,65.0,5.0,6.0,6.0,9.0

In [69]:
## aggregate Average throughput
new_df['Average_throughput'] = df['Avg Bearer TP DL (kbps)'] + df['Avg Bearer TP UL (kbps)']

In [70]:
new_df.head(10)

,MSISDN/Number,Total_Session_Duration_ms,Average_TCP,Average_RTT,Handset Type,Average_throughput,TCP DL Retrans. Vol (Bytes),TCP UL Retrans. Vol (Bytes),Avg RTT DL (ms),Avg RTT UL (ms),Avg Bearer TP DL (kbps),Avg Bearer TP DL (kbps),Avg Bearer TP UL (kbps)
0,3.366496e+10,116720.0,26750.0,84.0,Samsung Galaxy A5 Sm-A520F,67.0,19520.0,7230.0,42.0,5.0,23.0,23.0,44.0
1,3.368185e+10,181230.0,26750.0,130.0,Samsung Galaxy J5 (Sm-J530),42.0,19520.0,7230.0,65.0,5.0,16.0,16.0,26.0
2,3.376063e+10,134969.0,26750.0,130.0,Samsung Galaxy A8 (2018),15.0,19520.0,7230.0,65.0,5.0,6.0,6.0,9.0
3,3.375034e+10,49878.0,26750.0,130.0,undefined,88.0,19520.0,7230.0,65.0,5.0,44.0,44.0,44.0
4,3.369980e+10,37104.0,26750.0,130.0,Samsung Sm-G390F,15.0,19520.0,7230.0,65.0,5.0,6.0,6.0,9.0
5,3.366819e+10,253983.0,26750.0,130.0,undefined,124.0,19520.0,7230.0,65.0,5.0,70.0,70.0,54.0
6,3.366537e+10,128360.0,26750.0,204.0,Huawei Mate 20 Lite,60.0,19520.0,7230.0,102.0,5.0,22.0,22.0,38.0
7,3.376349e+10,86399.0,26750.0,78.0,undefined,4114.0,19520.0,7230.0,39.0,18.0,3698.0,3698.0,416.0
8,3.369874e+10,495702.0,26750.0,78.0,Samsung Galaxy A8 (2018),95.0,19520.0,7230.0,39.0,18.0,46.0,46.0,49.0
9,3.365922e+10,124854.0,3238627.0,194.0,Samsung Galaxy Note 8 (Sm-N950F Ds),6380.0,3231397.0,7230.0,97.0,7.0,3845.0,3845.0,2535.0

#### Task 4.2 - Compute & list 10 of the top, bottom and most frequent:

  - [X] TCP values in the dataset. 
  - [X] RTT values in the dataset.
  - [X] Throughput values in the dataset.

In [88]:
def n_frequency(df, field, order='desc', n=10):
    result_df = (
        df[field]
        .value_counts()
        .reset_index()
        .rename(columns={field: 'Frequency', 'index': field})
        .sort_values(by='Frequency', ascending=(order.lower() == 'desc'))
        .head(n)
    )
    return result_df

In [93]:
field_name = 'TCP UL Retrans. Vol (Bytes)'
order_type = 'asc'
top_10_result = n_frequency(new_df, field_name, order_type)
top_10_result

   TCP UL Retrans. Vol (Bytes)  Frequency
0                       1330.0       6713
1                       1294.0       5007
2                       2660.0       3089
3                       1318.0       1532
4                       3990.0       1501
5                       5320.0       1110
6                       6650.0        897
7                       1220.0        650
8                       2636.0        635
9                       7980.0        601

In [94]:
field_name = 'TCP UL Retrans. Vol (Bytes)'
order_type = 'desc'
bottom_10_result = n_frequency(new_df, field_name, order_type)
bottom_10_result

       TCP UL Retrans. Vol (Bytes)  Frequency
35119                      40552.0          1
25183                      12145.0          1
25182                     190263.0          1
25181                      63181.0          1
25180                     133525.0          1
25179                     679991.0          1
25178                     178443.0          1
25177                      71106.0          1
25176                     141975.0          1
25175                      48988.0          1

In [95]:
field_name = 'Avg RTT UL (ms)'
order_type = 'asc'
top_10_result = n_frequency(new_df, field_name, order_type)
top_10_result

   Avg RTT DL (ms)  Frequency
0             28.0       4745
1             27.0       4489
2             34.0       4229
3             35.0       3686
4             37.0       3402
5             36.0       3365
6             26.0       3305
7             29.0       3191
8             24.0       3154
9             38.0       3124

In [96]:
field_name = 'Avg RTT UL (ms)'
order_type = 'desc'
bottom_10_result = n_frequency(new_df, field_name, order_type)
bottom_10_result

     Avg RTT UL (ms)  Frequency
721            835.0          1
554           1056.0          1
553           1411.0          1
552            384.0          1
551            326.0          1
550           1352.0          1
549           1294.0          1
548            383.0          1
547           1222.0          1
546            353.0          1

In [97]:
field_name = 'Avg Bearer TP UL (kbps)'
order_type = 'asc'
top_10_result = n_frequency(new_df, field_name, order_type)
top_10_result

   Avg Bearer TP UL (kbps)  Frequency
0                     40.0       7794
1                     54.0       6344
2                     47.0       5840
3                     53.0       4835
4                      9.0       3812
5                     52.0       3786
6                     51.0       3646
7                     44.0       3366
8                     46.0       3216
9                     55.0       2871

In [98]:
field_name = 'Avg Bearer TP UL (kbps)'
order_type = 'desc'
bottom_10_result = n_frequency(new_df, field_name, order_type)
bottom_10_result

       Avg Bearer TP UL (kbps)  Frequency
14527                  36754.0          1
9794                   18728.0          1
9795                    4413.0          1
9796                   35773.0          1
9797                   39070.0          1
9798                   27214.0          1
9799                   31269.0          1
9800                    5509.0          1
9801                    5395.0          1
9802                   22669.0          1